body {
    background-image: url("img/welkome3.jpg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: papayawhip;
}

#btn_lgn {
    width: 100%;
}

.card-body {
    height: 400px;
}

.card {
    background-color: rgba(0,0,0,0.5);
    height: 660px;
    width: 400px;
}

h3 {
    color: #FFFFFF;
}

label {
    color: #FFFFFF;
}

.inp {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    border-color: darkslategray;
}

.main-block {
    margin-top: 25px;
    margin-left: -40%;
}

.card {
    border-radius: 20px 20px 20px 20px;
}

.card-footer {
    height: 50px;
}

.icons {
    background-color: rgba(0,0,0,0.5);
    border-color: rgba(0,0,0,0.5);
}

.card {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 17px;
}

.btn-lgn {
    width: 100px;
    height: 20px;
    border-radius: 50px 50px 50px 50px;
    font-family: 'Sulphur Point', sans-serif;
    color: #FFFFFF;
    background-color: rgba(0,0,0,0.5);
}
