@page
@model BabyLife.Web.CreateDiaperChangeModel
@{
    ViewData["Title"] = "CreateDiaperChange";
    Layout = "~/Pages/Shared/_UserLayout.cshtml";
}
<br/>
<br/>
<h1>CreateDiaperChange</h1>
<div asp-validation-summary="All"></div>
<form method="POST">
    <input asp-for="BabyId" type="hidden" />
    <div><label>Название</label><br /><input asp-for="NewDiaperChange.Name" type="text" /></div>
    <div><label>Начало сна</label><br /><input asp-for="NewDiaperChange.TimeDiaper" type="datetime-local" /></div>
    <div><label>Конец сна</label><br /><input asp-for="NewDiaperChange.Reason" type="text" /></div>
    <input type="submit" value="Отправить" />
</form>
