@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="container main-block">
        <div class="d-flex justify-content-end h-100">
            <div class="card">
                <div class="card-header">
                    <h1 class="display-4">Welcome to BabyLife!</h1>
                </div>
                <div class="card-body">
                    <label class="pb-3">Войти как обычный пользователь</label>
                        <div class="form-group ">
                            <a asp-page="/Accounts/Login">Родитель</a>
                        </div>
                </div>
                <div class="card-body">
                    <label class="pb-3">Войти как наглядач</label>
                    <div class="form-group ">
                        <a asp-page="/Accounts/LoginCarePerson">Наглядач</a>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links mt-3">
                        No account?<a asp-page="/Accounts/Register">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

@*@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-page="/Accounts/Logout" asp-route-returnUrl="@Url.Page("/Login")">
        <input type="submit" value="Выйти" />
    </form>
}
else
{
    <a asp-page="/Accounts/Register">Register</a>
    <a asp-page="/Accounts/Login">Login</a>
}*@