@page
@model BabyLife.Web.LoginCarePersonModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = "LoginCarePerson";
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}
<div class="container main-block">
    <div class="d-flex justify-content-end h-100">
        <div class="card">
            <div class="card-header">
                <h1 class="display-4">Welcome to BabyLife!</h1>
            </div>
            <div class="card-body">
                <label class="pb-3">Sign in</label>
                <form method="POST">
                    <div class="input-group form-group pb-3 mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text icons"><i class="fas fa-user icon"></i></span>
                        </div>
                        <input asp-for="LoginCareUser.ShareCode" type="password" class="form-control inp" placeholder="your share code" />
                        <span asp-validation-for="LoginCareUser.ShareCode" class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        <input type="submit" value="Login" id="btn_lgn" class="btn login_btn mt-3">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links mt-3">
                    Вошли не туда?<a asp-page="/Index">Вернутся на выбор типа пользователя</a>
                </div>
            </div>
        </div>
    </div>
</div>