@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <div>
            <h1>Welcom to my third task :) Go to the products in menu!!!</h1>
        </div>
        <img src="@Url.Content("~/Images/alicorn.jpg")">
    </div>