@page
@model BabyLife.Web.UserProfileModel
@{
    ViewData["Title"] = "UserProfile";
    Layout = "~/Pages/Shared/_UserLayout.cshtml";
}

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('https://avatars.mds.yandex.net/get-pdb/202366/b137e98c-e7bd-491e-9268-e10c3443a49d/s1200')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4" style="color: #CD5C5C">Love baby</h3>
                    <p class="lead" style="color: #CD5C5C">feeling free calm happy</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://vseprorebenka.ru/wp-content/uploads/o-BREASTFEEDING-VERSUS-FORMULA-WARS-facebook-e1469022017320.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4" style="color: #CD5C5C">Feed your baby</h3>
                    <p class="lead" style="color: #CD5C5C">easy healthy clearly</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://malibyclub.ru/wp-content/uploads/2018/10/kupanie-rebenka.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4" style="color: #CD5C5C">Bath your baby</h3>
                    <p class="lead" style="color: #CD5C5C">easy healthy clearly</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>
<section class="py-5">
    <div class="container">
        <h1 class="font-weight-light">Half Page Image Slider</h1>
        <p class="lead">The background images for the slider are set directly in the HTML using inline CSS. The images in this snippet are from <a href="https://unsplash.com">Unsplash</a>!</p>
    </div>
</section>

<h1>UserProfile</h1>

